*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    padding-top: 70px;
}

.flex{
    display: flex;
}

.position{  
    align-items: center;
    justify-content: center;
}

header{
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 70px;
    background-color: #EE6E19;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 38px, rgba(0, 0, 0, 0.22) 0px 0px 12px;
}

.flex{
    display: flex;
    flex-direction: row;
}

.position-bar{
    height: 65%;
    width: 65%;
}

.small-section, .Logo { 
    width: calc(100% / 3);
    align-items: center;
    height: 100%;
}

.small-section{
    padding: 10px;
    font-size: 0.95rem;
    font-weight: bold;
    gap: 6px;
}

.Logo{
    display: block;
    height: 100%;
    justify-content: center;
}

.small-logo{
    height: 60%;
}

.row-reverse{
    justify-content: flex-end;
}

main{
    margin: 0 auto;
    width: 65%;
}

.product-row{ 
    position: relative;
    justify-content: space-between;
    padding: 55px 0;
}

.picture{
    position: relative;
    width: calc((100% / 3) - 20px);
    text-align: center;
}

.description{
    position: absolute;
    width: calc((100% / 3) - 20px);
    top: 92%;
    /*top: 620px;*/
    flex-direction: column;
    height: 60px;
}

.brand{
    color: lightslategray;
    font-size: 0.85rem;
}

.product-name{
    font-size: 1.1rem;
    font-weight: 500;
}

.price{
    font-size: 0.9rem;
}

.new-price{
    color: red;
    font-weight: 450;
}

.old-price{
    text-decoration: line-through;
}

.description-middle{
    left: 50%;
    transform: translate(-50%, 0%);
}

.description-right{
    left: 100%;
    transform: translate(-100%, 0%);
}

div.picture>img{
    width: 100%;
    height: fit-content;
}

.top-img{
    position: absolute;
    opacity: 0;
}

.top-img:hover{
    opacity: 1;
}

.square-heart{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: white;
    top: 10px;
    right: 0px;
    font-size: 22px;
}

.square-heart:hover{
    color: red;
}

.square{
    position: absolute;
    padding: 5px 10px;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
}

.discount{
    background-color: #ff0000;
    left: 0;
    bottom: 50px;
    display: inline-block;
}

.sostenibilità{
    background-color: #007b00;
    display: inline-block;
    left: 50px;
    bottom: 50px;
}

.ultima-sostenibilità{
    left: 0;
}

footer{
    margin-top: 200px;
}