*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    padding-top: 3rem;
    width: 70%;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-direction: row;
}
