*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.border{
    border: 1px black solid;
}

.flex{
    display: flex;
}

.position{  
    align-items: center;
    justify-content: center;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #EE6E19;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.flex{
    display: flex;
}

.position-bar{
    height: 65%;
    width: 95%;
}

.small-section, .Logo { 
    width: calc(100% / 3);
    align-items: center;
    height: 100%;
}

.small-section{
    padding: 10px;
    font-size: 0.95rem;
    font-weight: bold;
}

.Logo{
    height: auto;
    object-fit: contain;
    justify-content: center;
}

.small-logo{
    height: 60%
}

.row-reverse{
    justify-content: flex-end;
}


/*.header-bar{
    width: 70%;
    height: 40px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
}

.lateral-section{
    color: white;
    width: 100%;
}